<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="conString" connectionString="Server=DESKTOP-FU2RQVD\SQLEXPRESS; Database=HostelDb; Trusted_Connection=True"
   providerName="System.Data.SqlClient" />
  <add name="Hostel_MS.Properties.Settings.HostelDbConnectionString"
   connectionString="Data Source=DESKTOP-FU2RQVD\SQLEXPRESS;Initial Catalog=HostelDb;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	      
		
</configuration>